.requests-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.request-item:hover {
    background-color: #f0f0f0;
}
